@model MoneyCents.Models.Pay

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Pay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="LastUpdatedDate" class="control-label"></label>
                <input asp-for="LastUpdatedDate" class="form-control" />
                <span asp-validation-for="LastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossMonthlyIncome" class="control-label"></label>
                <input asp-for="GrossMonthlyIncome" class="form-control" />
                <span asp-validation-for="GrossMonthlyIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossYearlyIncome" class="control-label"></label>
                <input asp-for="GrossYearlyIncome" class="form-control" />
                <span asp-validation-for="GrossYearlyIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxableMonthlyGross" class="control-label"></label>
                <input asp-for="TaxableMonthlyGross" class="form-control" />
                <span asp-validation-for="TaxableMonthlyGross" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetMonthly" class="control-label"></label>
                <input asp-for="NetMonthly" class="form-control" />
                <span asp-validation-for="NetMonthly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetYearly" class="control-label"></label>
                <input asp-for="NetYearly" class="form-control" />
                <span asp-validation-for="NetYearly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
